<button (click)="switchMapSubscribeToggle()">
  <div *ngIf="switchMapBlueChildSubscribed$ | async">SwitchMap Subscribed</div>
  <div *ngIf="!(switchMapBlueChildSubscribed$ | async)">
    SwitchMap Unsubscribed
  </div>
</button>
<app-blue-child
  [switchMapSubscribed$]="switchMapBlueChildSubscribed$"
  (mergeValueEmitted)="mapValue = $event"
></app-blue-child>
<br />
<button (click)="mergeMapSubscribeToggle()">
  <div *ngIf="mergeMapBlueChildSubscribed$ | async">MergeMap Subscribed</div>
  <div *ngIf="!(mergeMapBlueChildSubscribed$ | async)">
    MergeMap Unsubscribed
  </div>
</button>
<app-red-child
  [mergeMapSubscribed$]="mergeMapBlueChildSubscribed$"
  (mergeValueEmitted)="mapValue = $event"
></app-red-child>
<br />
<span>{{ mapValue }}</span>
