<button (click)="switchMapSubscribeToggle()">
  <div *ngIf="switchMapBlueChildSubscribed$ | async">SwitchMap Subscribed</div>
  <div *ngIf="!(switchMapBlueChildSubscribed$ | async)">
    SwitchMap Unsubscribed
  </div>
</button>

<br />
<button (click)="mergeMapSubscribeToggle()">
  <div *ngIf="mergeMapBlueChildSubscribed$ | async">MergeMap Subscribed</div>
  <div *ngIf="!(mergeMapBlueChildSubscribed$ | async)">
    MergeMap Unsubscribed
  </div>
</button>

<div>
  <label
    >Parent Time Interval (ms)({{ intervalParent }}):
    <input [(ngModel)]="intervalParent"
  /></label>
</div>
<div>
  <app-red-child
    [(intervalRedChild)]="intervalParent"
    [mergeMapSubscribed$]="mergeMapBlueChildSubscribed$"
    (mergeValueEmitted)="mapValue = $event"
  ></app-red-child>
</div>

<div>
  <app-blue-child
    [intervalBlueChild]="intervalParent"
    (intervalBlueChildChange)="intervalParent = $event"
    [switchMapSubscribed$]="switchMapBlueChildSubscribed$"
    (mergeValueEmitted)="mapValue = $event"
  ></app-blue-child>
</div>
<div>{{ mapValue }}</div>
